

/*цвет основного текста #212121 */
/*цвет вторичного текста #757575 */
/*акцент #2196F3 */
/*цвет основного фона #FFFFFF */
/* вторичный цвет фона F5F4FA */

:root {
    --primary-text-color:#212121;
    --tittle-text-color:#212121;
    --accent-color:#2196F3;
    --poragraf-color:#757575;
}

h1
h2
h3
a {
    margin:0;
    padding:0;
}
ul {
    margin: 0;
    padding: 0;
}

body {
background-color:#FFFFFF;
color: #212121;
font-family: Roboto ,sans-serif ;
letter-spacing: 0.03em;
font-size: 14px;
line-height:1.7;
text-decoration:none;
margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*logo*/
.logo {
    color: #2196F3;
    font-family:Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration:none;
}
.heder-logo{
    color: #000000;
}

.list {
    padding: 0;
    margin: 0;
    list-style:none;
}
/* main-nav */
.main-nav{
    display: flex;
    align-items: center;
}
/*site-nav*/
.site-nav {
    display: flex;
    margin-left: 95px; ;
    
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
    
.site-nav .link:hover,
.site-nav .link:focus { 
    color: #2196F3; 
    border-radius: 4px;
    text-decoration: none;
}

.site-nav .link.current {
    color:#2196F3;
}
/*contact*/
.contact {
    display: flex;
    margin-left: auto;
}
.contact .item:not(:last-child){
    margin-right: 50px;
}
.contact {
    color: #757575 ;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus{
    color: #2196F3;
}
/*fondament*/
.foundation { 
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #757575;
    text-align: center;
}
.foundation-title{
    padding-left: 252px;
    padding-right: 252px;
    margin-top: 0;
    margin-bottom:30px;
}
.foundation-title{
    
    color:#FFFFFF ;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*section featur*/
.feature.item {
    list-style: var(--point);
    flex-basis: calc((100% - 90px) / 4);
}
.feature {
    display: flex;
    gap: 30px;
}
.feature-list .item{
    width:270px;
    height: 74px;
}

.section-title {
    color: #212121 ;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-decoration:none;
    letter-spacing: 0.03em;
}
.feature-title {
    margin-bottom: 10px;
    Font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.feature-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.feature .list .title {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
}

.feature .list .link{
    color:#2196F3 ;
}

/* Занятие */
.ocupation {
    display: flex;
    gap: 30px;
    
}
.ocupation .list{
    width:370px;
    height:294px;
    
}

/*tima*/
.team {
    display: flex;
    gap: 30px;
    background-color: #F5F4FA;
    padding-bottom: 94px;
}
.team .list .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.team .list, .title {
    color:#212121;
}
.team .item{
    background-color: #FFFFFF;
    width: calc((100% - 90px) / 4);
}

.team-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.tima-foto{
    
    width: 270px;
    height: 260px;
    border-radius: 0px;
}
.team-heading{
    padding:30px 24px;
    border-bottom:1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

/*button*/
.button {
    background-color: #188CE8;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-decoration:none;
    font-family:inherit ; 
    border: 1px solid transparent;
}

.button {
    cursor: pointer;
    font-family:inherit ;
}

.button-primary {
    background-color: #188CE8;
    color: #FFFFFF;
    font-family:inherit ;
    display: inline-block;
    padding: 10px 32px; 
    border-radius: 4px;
    min-width: 216px;
    height: 50px;
    text-align: center;
}
.button-primary:focus,
.button-primary:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

/*paragraf*/
p {
    color: #757575;
    text-decoration:none;
    margin: 0;
    padding: 0;
}
    /*cnopka*/
.cry {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 50px;
    
}
.cry .button {
    background-color: #F5F4FA;
    color: #000000;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
}


.cry .list, .links:hover,
.cry .list, .links:focus { 
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 4px;
} 
.button.secondori.links{
    padding: 6px 22px; 
    display: inline-block;
    border-radius: 8px;
    text-align: center;
}
/*Portfolio*/
.portfolio-foto {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
}
.portfolio-foto .item{
    width: calc((100% - 60px) / 3);
}

.title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
}
/* card */
.card-heading{
    padding:20px 24px;
    border-bottom:1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}


.portfolio .list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration:none;
}
a {
    text-decoration: none;
}

/*foter*/
.footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #2F303A;
}
.footer-logo {
    display:block;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-list .item{
    margin-bottom: 9px;
}
.footer-contact{
    color:rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71 ;
    letter-spacing: 0.03em;
    color: #FFFFFF;    
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section.no-padding{
    padding-top: 0;
    padding-bottom: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}